<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet">
    <title>Dupasfy</title>
</head>
<body>
    
   <h1>
        Bem vindo ao Dupasfy!!!!
    </h1>
    <h2>
        O site com as melhores funcionalidades pra você!
    </h2>
   <!--  {% if person %}
  <h1>Hello {{ person }}!</h1>
    {% else %}
  <h1>Hello, World!</h1>
    {% endif %}
--><div class="all-funcs">


        <div class="div-func">
            <div>
                <button class="func_button" id="func-button">Bla bla bla</button>
            </div>
            <div class="func_form" id="func_form">
            <form>
                <div>
                    <label for="example">Coloque o link</label>
                    <input id="example" type="text" name="text" />
                </div>
                <div>
                    <input type="submit" value="Send" />
                </div>
            </form>
            </div>
        </div>   

        <div class="div-func">
            <div>
                <button class="func_button" id="func-button">Bla bla bla</button>
            </div>
            <div class="func_form" id="func_form">
            <form>
                <div>
                    <label for="example">Coloque o link</label>
                    <input id="example" type="text" name="text" />
                </div>
                <div>
                    <input type="submit" value="Send" />
                </div>
            </form>
            </div>
        </div>  

        <div class="div-func">
            <div>
                <button class="func_button" id="func-button">Bla bla bla</button>
            </div>
            <div class="func_form" id="func_form">
            <form>
                <div>
                    <label for="example">Coloque o link</label>
                    <input id="example" type="text" name="text" />
                </div>
                <div>
                    <input type="submit" value="Send" />
                </div>
            </form>
            </div>
        </div>  
    </div>
</body>
<script src="static/script.js" type="text/javascript"></script>
</html>